target/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
.mvn/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### System Files ###
.DS_Store
Thumbs.db

### Temp Uploads & Analysis Storage ###
uploads/
temp/
